/* The search field */
.THIS #myInput {
  	min-width: 350px;  
  	box-sizing: border-box;
   	/*background-image: url('searchicon.png');*/
  	background-position: 14px 12px;
  	background-repeat: no-repeat;
  	font-size: 16px;
  	padding: 10px 45px 8px 40px;
  	border: none;
  	border-bottom: 1px solid #ddd;
}

.THIS #mySelect {
  	min-width: 150px;  
  	box-sizing: border-box;
  	background-position: 14px 12px;
  	font-size: 16px;
  	padding: 10px 20px 8px 30px;
  	border: none;
    border-left:ridge;
    border-right:ridge;
  	border-bottom: 1px solid #ddd;
}
.THIS .container {
    display: inline-block;
  	position: absolute;
    left: 315px;
    top: 7.5px; 
}

.THIS .clear {
  	display: none;
  	position: absolute;
  	opacity: 0.3;
}

.THIS .clear:hover {opacity: 1;}

.THIS .clear:before, .THIS .clear:after {
    display: block;
  	position: absolute;
  	left: 15px;
  	content: ' ';
  	height: 24px;
  	width: 2px;
  	background-color: #333;
}
.THIS .clear:before {transform: rotate(45deg);}
.THIS .clear:after {transform: rotate(-45deg);}

/* The search field when it gets focus/clicked on */
.THIS #myInput:focus {outline: 3px solid #ddd;}
.THIS #mySelect:focus {outline: 3px solid #ddd;}
/* The container <div> - needed to position the dropdown content */
.THIS .dropdown {
  	min-width: 500px;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.THIS .dropdown-content {
  	display: none;
  	position: absolute;
  	background-color: #f6f6f6;
  	min-width: 350px;
  	border: 1px solid #ddd;
  	z-index: 1;
}

/* Links inside the dropdown */
.THIS .dropdown-content a {
  	color: black;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
}

/* Change color of dropdown links on hover */
.THIS .dropdown-content a:hover {background-color: #e1f1f1}

.THIS .buttonHover {background-color: #d1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.THIS .show {display: block;}
/*serch spiner*/
.THIS .loaders {
  	border: 4px solid #f3f3f3; 
  	border-top: 4px solid #A5A3A3; 
  	border-radius: 50%;
  	width: 20px;
  	height: 20px;
  	-webkit-animation: spin 1s linear infinite; /* Safari */
  	animation: spin 1s linear infinite;
  	margin: auto;
}

@-webkit-keyframes spin {
  	0% { -webkit-transform: rotate(0deg); }
  	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  	0% { transform: rotate(0deg); }
  	100% { transform: rotate(360deg); }
}